---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.hubapi.com/contacts/v1/lists/all/contacts/all?hapikey=1a213976-e94b-4906-9ddd-6bef32c22728
    method: GET
  response:
    body: '{"contacts":[{"addedAt":1644495116953,"vid":1,"canonical-vid":1,"merged-vids":[],"portal-id":21427615,"is-contact":true,"properties":{"firstname":{"value":"Maria"},"lastmodifieddate":{"value":"1644495126336"},"company":{"value":"HubSpot"},"lastname":{"value":"Johnson
      (Sample Contact)"}},"form-submissions":[],"identity-profiles":[{"vid":1,"saved-at-timestamp":1644495116774,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"emailmaria@hubspot.com","timestamp":1644495116709,"is-primary":true},{"type":"LEAD_GUID","value":"5e571227-1cb5-4c55-a5c0-50c92cc33116","timestamp":1644495116769}]}],"merge-audits":[]},{"addedAt":1644495117239,"vid":51,"canonical-vid":51,"merged-vids":[],"portal-id":21427615,"is-contact":true,"properties":{"firstname":{"value":"Brian"},"lastmodifieddate":{"value":"1644495131384"},"company":{"value":"HubSpot"},"lastname":{"value":"Halligan
      (Sample Contact)"}},"form-submissions":[],"identity-profiles":[{"vid":51,"saved-at-timestamp":1644495117073,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"bh@hubspot.com","timestamp":1644495116709,"is-primary":[...]
