---
version: 1
interactions:
- request:
    body: "{\n\t\t\t\t\t\t\t\t\"id\" : \"0015j00000XjYbQAAV\",\n\t\t\t\t\t\t\t\t\"Name\"
      : \"Name updated in test method\"\n\t\t\t\t\t\t\t}"
    form: {}
    headers:
      Authorization:
      - Bearer 00D5j000008wf2G!AQ8AQEcznidw6ZZlJ4ETmPedmphbxkXjPBsU8t8O4kF8mN3RgSaie1Q228V.2jGmg0OAlOLEdl.ViHqlAUz7sG10yCb2QABv
      Content-Type:
      - application/json
    url: https://concretio89-dev-ed.my.salesforce.com/services/apexrest/Account
    method: PUT
  response:
    body: '{"attributes":{"type":"Account","url":"/services/data/v54.0/sobjects/Account/0015j00000XjYbQAAV"},"Id":"0015j00000XjYbQAAV","Name":"Name
      updated in test function","Type":"Raghav"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
